src/main/mule/authorized-logging-portal-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="Authorized-Logging-Portal-PAPI-main">
        <http:listener path="/api/*" config-ref="authorized-logging-portal-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="Authorized-Logging-Portal-PAPI-config" doc:id="159a3843-6537-4a9c-8667-ad0faa65bdb8"/>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\log-csv:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="e86dea89-7fd9-4014-96ea-0293507fff53" name="log-csv-impl-flow" />
    </flow>
    <flow name="get:\logs:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="4f20a7ad-422a-46cc-ad75-f4659c8300b2" name="log-impl-flow" />
    </flow>
    <flow name="get:\requests:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="42ac985a-c450-4add-9391-adead9f47f83" name="requests-get-all-impl" />
    </flow>
    <flow name="get:\user-details:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="8db5a77e-6953-4d7e-ac8c-61619c60015b" name="user-details-impl-sub-flow" />
    </flow>
    <flow name="get:\user-envs:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="8be125ff-8ee9-4016-abae-6bea756c3020" name="user-envs-impl-flow" />
    </flow>
    <flow name="post:\approve-request:application\json:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="7656bed9-26ca-41a0-b459-e9275738c832" name="approve-requests-impl-flow" />
    </flow>
    <flow name="post:\request-access:application\json:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="3517808f-590e-46c0-a33f-8f22dbd0a1a3" name="request-access-impl-flow" />
    </flow>
    <flow name="post:\user-login:application\json:Authorized-Logging-Portal-PAPI-config">
        <flow-ref doc:name="Flow Reference" doc:id="6c847dea-1fb0-4935-ba67-166aeb7722fc" name="user-login-impl-flow" />
    </flow>
</mule>
